.entryForm > h2  {
    height: 15px;
}
  

.entryForm > button  {
    padding: 8px;
    border-radius: 5px;
}

.entryForm > form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
}

.entryForm > form > textarea {
    height: 250px;
    resize: none;
    margin: 4% 0 1% 0;
    padding: 8px;
    border-radius: 10px;
}

.entryForm > form > button  {
    margin: 1% 0;
    padding: 8px;
    border-radius: 5px;
}